<table class="table table-hover">
  <thead>
    <tr>
      <th>Código</th>
      <th>Dirección</th>
      <th>Dueño</th>
      <th>Tributos</th>
      <th>
        <a class="btn btn-success btn-xs" [routerLink]="['/properties/new']"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Agregar</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let property of properties">
      <td>{{property.code}}</td>
      <td>{{property.address}}</td>
      <td>{{property.person.name + ' ' + property.person.surname}}</td>
      <td>
         <span class="label label-info label-list" *ngFor="let tribute of property.tributes">{{tribute.short_name}}</span>
      </td>
      <td>
        <a class="btn btn-primary btn-xs" [routerLink]="['/properties/tributes', property.id]"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Tributos</a>
      </td>
    </tr>
  </tbody>
</table>
