
<div class="panel panel-primary">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-2">
        <div class="togglebutton">
          <label>
            <input type="checkbox">
             </label>Inmuebles
        </div>
      </div>
      <div class="col-xs-3">
        <div class="togglebutton">
          <label>
            <input type="checkbox">
            </label>Establecimientos
        </div>
      </div>
    </div>
    <div class="row inmuebles-group">
      <div class="col-xs-1">
        <div class="form-group is-empty has-info">
          <input type="text" class="form-control" placeholder="DUI">
        </div>
      </div>
      <div class="col-xs-1">
        <div class="form-group is-empty has-info">
          <input type="text" class="form-control" placeholder="NIT">
        </div>
      </div>
      <div class="col-xs-3">
        <div class="form-group is-empty has-info">
          <input type="text" class="form-control" placeholder="Nombre/Razón Social">
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group is-empty has-info">
          <input type="text" class="form-control" placeholder="Dirección">
        </div>
      </div>
      <div class="col-xs-1">
        <button type="submit" class="btn btn-simple nopadding"> <i class="material-icons">search</i></button>
      </div>
    </div>
  </div>
</div>
