<h2>Nuevo Inmueble</h2>
<form class="panel form-horizontal" (ngSubmit)="addProperty()" [formGroup]="propertyForm">
  <fieldset>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#generalPanel">
          <h3 class="panel-title"><span class="glyphicon glyphicon-chevron-down"></span> General</h3>
        </a>
      </div>
      <div id="generalPanel" class="panel-body panel-collapse collapse in">
        <div class="form-group">
          <label class="col-md-4 control-label" for="code">Código </label>
          <div class="col-md-4">
            <input class="form-control" type="text" name="code" required formControlName="code">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="address">Dirección</label>
          <div class="col-md-6">
            <textarea class="form-control" id="address" name="address" formControlName="address"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="coordinate_x">Coordenada X</label>
          <div class="col-md-2">
            <input id="coordinate_x" name="coordinate_x" placeholder="" class="form-control input-md" required="" type="text" formControlName="coordinate_x">
          </div>
          <label class="col-md-2 control-label" for="coordinate_y">Coordenada Y</label>
          <div class="col-md-2">
            <input id="coordinate_y" name="coordinate_y" placeholder="" class="form-control input-md" required="" type="text" formControlName="coordinate_y">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="zone">Zona</label>
          <div class="col-md-2">
            <input id="zone" name="zone" placeholder="" class="form-control input-md" required="" type="text" formControlName="zone">
          </div>
          <label class="col-md-2 control-label" for="sector">Sector</label>
          <div class="col-md-2">
            <input id="sector" name="sector" placeholder="" class="form-control input-md" required="" type="text" formControlName="sector">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="block">Block</label>
          <div class="col-md-2">
            <input id="block" name="block" placeholder="" class="form-control input-md" required="" type="text" formControlName="block">
          </div>
          <label class="col-md-2 control-label" for="lot">Lote</label>
          <div class="col-md-2">
            <input id="lot" name="lot" placeholder="" class="form-control input-md" required="" type="text" formControlName="lot">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="cnr_sector">Sector (CNR)</label>
          <div class="col-md-2">
            <input id="cnr_sector" name="cnr_sector" placeholder="" class="form-control input-md" required="" type="text" formControlName="cnr_sector">
          </div>
          <label class="col-md-2 control-label" for="cnr_plot">Plot (CNR)</label>
          <div class="col-md-2">
            <input id="cnr_plot" name="cnr_plot" placeholder="" class="form-control input-md" required="" type="text" formControlName="cnr_plot">
          </div>
        </div>


        <hr>
        <legend>Clasificación</legend>
        <div class="form-group">
          <label class="col-md-4 control-label" for="nature">Naturaleza</label>
          <div class="col-md-2">
            <select id="nature" name="nature" class="form-control" formControlName="nature">
              <option value="urban">Urbana</option>
              <option value="rural">Rural</option>
            </select>
          </div>
          <label class="col-md-2 control-label" for="type">Tipo</label>
          <div class="col-md-2">
            <select id="type" name="type" class="form-control" formControlName="type">
              <option value="empty">Baldío</option>
              <option value="comm">comercio</option>
              <option value="condo">Condominio</option>
              <option value="habit">Habitacional</option>
              <option value="indu">Industria</option>
              <option value="serv">Servicio</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="lighting">Alumbrado</label>
          <div class="col-md-2">
            <select id="lighting" name="lighting" class="form-control" formControlName="lighting">
              <option value="a">A</option>
              <option value="b">B</option>
              <option value="c">C</option>
              <option value="d">D</option>
            </select>
          </div>
          <label class="col-md-2 control-label" for="electricity_company">Compañia electrica</label>
          <div class="col-md-2">
            <select id="electricity_company" name="electricity_company" class="form-control" formControlName="electricity_company">
              <option value="clesa">AES-CLESA</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="nic">NIC / NIS</label>
          <div class="col-md-4">
            <input id="nic" name="nic" placeholder="" class="form-control input-md" required="" type="text" formControlName="nic">
          </div>
        </div>


        <hr>
        <legend>Dimensiones</legend>
        <div class="form-group">
          <label class="col-md-4 control-label" for="total_area">Área total</label>
          <div class="col-md-2">
            <input id="total_area" name="total_area" placeholder="" class="form-control input-md" required="" type="text" formControlName="total_area">
          </div>
          <label class="col-md-2 control-label" for="constructed_area">Área construida</label>
          <div class="col-md-2">
            <input id="constructed_area" name="constructed_area" placeholder="" class="form-control input-md" required="" type="text" formControlName="constructed_area">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="floors">Pisos</label>
          <div class="col-md-2">
            <input id="floors" name="floors" placeholder="" class="form-control input-md" required="" type="text" formControlName="floors">
          </div>
          <label class="col-md-2 control-label" for="course">Rumbo</label>
          <div class="col-md-2">
            <select id="course" name="course" class="form-control" formControlName="course">
              <option value="n">Norte</option>
              <option value="w">Oeste</option>
              <option value="s">Sur</option>
              <option value="e">Este</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="linear_meters">Metros lineales</label>
          <div class="col-md-2">
            <input id="linear_meters" name="linear_meters" placeholder="" class="form-control input-md" required="" type="text" formControlName="linear_meters">
          </div>
          <label class="col-md-2 control-label" for="location">Rodaje</label>
          <div class="col-md-2">
            <input id="location" name="location" placeholder="" class="form-control input-md" required="" type="text" formControlName="location">
          </div>
        </div>


        <hr>
        <legend>Indicadores</legend>
        <div class="form-group">
          <label class="col-md-4 control-label" for="construction_qa">Calidad de construcción</label>
          <div class="col-md-2">
            <select id="construction_qa" name="construction_qa" class="form-control" formControlName="construction_qa">
              <option value="1">Nivel 1</option>
              <option value="2">Nivel 2</option>
              <option value="3">Nivel 3</option>
            </select>
          </div>
          <label class="col-md-2 control-label" for="avg_rent">Renta promedio mensual</label>
          <div class="col-md-2">
            <input id="avg_rent" name="avg_rent" placeholder="" class="form-control input-md" required="" type="text" formControlName="avg_rent">
          </div>
        </div>
      </div>
    </div>


    <div class="panel panel-primary" formGroupName="person">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#ownerPanel">
          <h3 class="panel-title"><span class="glyphicon glyphicon-chevron-down"></span> Propietario</h3>
        </a>
      </div>
      <div id="ownerPanel" class="panel-body panel-collapse collapse">
        <!--<div class="form-group">
          <label class="col-md-4 control-label" for="ownType">Tipo</label>
          <div class="col-md-2">
            <select id="ownType" name="ownType" class="form-control" >
              <option value="company">Compañía</option>
              <option value="naturalPerson">Persona Natural</option>
            </select>
          </div>
        </div>-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="code">Código </label>
          <div class="col-md-4">
            <input class="form-control input-md" type="text" name="code" formControlName="code">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="name">Nombre </label>
          <div class="col-md-4">
            <input class="form-control input-md" type="text" name="name" formControlName="name">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="other_names">Otros Nombres </label>
          <div class="col-md-4">
            <input class="form-control input-md" type="text" name="other_names" formControlName="other_names">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="surname">Apellido </label>
          <div class="col-md-4">
            <input class="form-control input-md" type="text" name="surname" formControlName="surname">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="other_surnames">Otros Apellidos </label>
          <div class="col-md-4">
            <input class="form-control input-md" type="text" name="other_surnames" formControlName="other_surnames">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="dui">DUI </label>
          <div class="col-md-4">
            <input class="form-control input-md" type="text" name="dui" formControlName="dui">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="nit">NIT </label>
          <div class="col-md-4">
            <input class="form-control input-md" type="text" name="nit" formControlName="nit">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="birthdate">Fecha de nacimiento </label>
          <div class="col-md-4">
            <input class="form-control input-md" type="text" name="birthdate" formControlName="birthdate">
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="reset" class="btn btn-success">Limpiar</button>
    <a [routerLink]="['/taxpayers/properties']" class="btn btn-info">Regresar</a>
  </fieldset>
</form>
