<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Código</th>
      <th>Dirección</th>
      <th>Dueño</th>
      <th>Tributos</th>
      <th>
        <a class="btn btn-default btn-simple btn-xs info-sole pull-right" [routerLink]="['/properties/new']"><i class="material-icons">add_circle</i></a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let property of properties">
      <td>{{property.code}}</td>
      <td>{{property.address}}</td>
      <td>{{property.person.name + ' ' + property.person.surname}}</td>
      <td>
         <span class="label label-info label-list" *ngFor="let tribute of property.tributes">{{tribute.short_name}}</span>
      </td>
      <td>
        <a class="btn btn-default btn-xs pull-right" [routerLink]="['/properties/tributes', property.id]"><i class="material-icons">assignment</i> Tributos</a>
      </td>
    </tr>
  </tbody>
</table>
