<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Filtrar</h3>
  </div>
  <div class="panel-body">
    <!--<div class="row">
      <div class="col-xs-2">
        <input type="text" class="form-control" placeholder="Fecha Inicio">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" placeholder="Fecha Fin">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" placeholder="Monto">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" placeholder="Zona">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" placeholder="Actividad">
      </div>
    </div>-->
    <div class="row">
      <div class="col-xs-4">
        <input type="text" class="form-control" placeholder="Tributo">
      </div>
      <div class="col-xs-4">
        <input type="text" class="form-control" placeholder="Ley origen">
      </div>
      <div class="col-xs-4">
        <button type="submit" class="btn btn-info">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          Buscar
        </button>
        <button type="reset" class="btn btn-success">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          Limpiar
        </button>
      </div>
    </div>
  </div>
</div>