<table class="table table-hover">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th>Actividad</th>
      <th>NIT Dueño</th>
      <th>Nombre/Razón Social</th>
      <th>
        <a class="btn btn-success btn-xs" [routerLink]="['/establishments/new']"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Agregar</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let establishment of establishments">
      <td>{{establishment.code}}</td>
      <td>{{establishment.name}}</td>
      <td>{{establishment.activity}}</td>
      <td>{{establishment.person.nit}}</td>
      <td>{{establishment.person.name + ' ' + establishment.person.surname}}</td>
      <td>
        <a class="btn btn-primary btn-xs" [routerLink]="['/establishments/tributes', establishment.id]"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>
        <!--<a class="btn btn-primary btn-xs" href="#"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
        <a class="btn btn-primary btn-xs" href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>-->
      </td>
    </tr>
  </tbody>
</table>