<h2>Nuevo Establecimiento</h2>
<form [formGroup]="establishmentForm" class="panel form-horizontal" (ngSubmit)="addEstablishment()">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <a data-toggle="collapse" href="#generalPanel">
        <h3 class="panel-title"><span class="glyphicon glyphicon-chevron-down"></span> General</h3>
      </a>
    </div>
    <div id="generalPanel" class="panel-body">
      <div class="form-group">
        <label class="col-md-4 control-label" for="code">Código </label>
        <div class="col-md-4">
          <input class="form-control" type="text" name="code" formControlName="code">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="type">Tipo</label>
        <div class="col-md-6">
          <select id="type" name="type" class="form-control" formControlName="type">
            <option value="sacv">Sociedad Anónima de Capital Variable</option>
            <option value="coop">Cooperativa</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="address">Dirección </label>
        <div class="col-md-4">
          <input class="form-control" type="text" name="address" formControlName="address">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="designation">Designación</label>
        <div class="col-md-6">
          <input id="designation" name="designation" placeholder="" class="form-control input-md" type="text" formControlName="designation">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="abbreviation">Abreviatura</label>
        <div class="col-md-4">
          <input id="abbreviation" name="abbreviation" placeholder="" class="form-control input-md" type="text" formControlName="abbreviation">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="name">Nombre compañía</label>
        <div class="col-md-6">
          <input id="name" name="name" placeholder="" class="form-control input-md" type="text" formControlName="name">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="activity">Actividad</label>
        <div class="col-md-4">
          <input id="activity" name="activity" placeholder="" class="form-control input-md" type="text" formControlName="activity">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="province">Provincia</label>
        <div class="col-md-4">
          <input id="province" name="province" placeholder="" class="form-control input-md" type="text" formControlName="province">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="city">Ciudad</label>
        <div class="col-md-5">
          <input id="city" name="city" placeholder="" class="form-control input-md" type="text" formControlName="city">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="registration_date">Fecha Registro</label>
        <div class="col-md-4">
          <input id="registration_date" name="registration_date" placeholder="" class="form-control input-md" type="text" formControlName="registration_date">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="assets">Activo</label>
        <div class="col-md-4">
          <input id="assets" name="assets" placeholder="" class="form-control input-md" type="text" formControlName="assets">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="nit">NIT</label>
        <div class="col-md-4">
          <input id="nit" name="nit" placeholder="" class="form-control input-md" type="text" formControlName="nit">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="nrc">NRC</label>
        <div class="col-md-4">
          <input id="nrc" name="nrc" placeholder="" class="form-control input-md" type="text" formControlName="nrc">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="start_date">Fecha Inicio</label>
        <div class="col-md-4">
          <input name="start_date" placeholder="" class="form-control input-md" type="text" formControlName="start_date">
        </div>
      </div>
    </div>
  </div>


  <div class="panel panel-primary" formGroupName="person">
    <div class="panel-heading">
      <a data-toggle="collapse" href="#ownerPanel">
        <h3 class="panel-title"><span class="glyphicon glyphicon-chevron-down"></span> Propietario</h3>
      </a>
    </div>
    <div id="ownerPanel" class="panel-body panel-collapse collapse">
      <!--<div class="form-group">
        <label class="col-md-4 control-label" for="ownType">Tipo</label>
        <div class="col-md-2">
          <select id="ownType" name="ownType" class="form-control" >
            <option value="company">Compañía</option>
            <option value="naturalPerson">Persona Natural</option>
          </select>
        </div>
      </div>-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="code">Código </label>
        <div class="col-md-4">
          <input class="form-control input-md" type="text" name="code" formControlName="code">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="name">Nombre </label>
        <div class="col-md-4">
          <input class="form-control input-md" type="text" name="name" formControlName="name">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="other_names">Otros Nombres </label>
        <div class="col-md-4">
          <input class="form-control input-md" type="text" name="other_names" formControlName="other_names">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="surname">Apellido </label>
        <div class="col-md-4">
          <input class="form-control input-md" type="text" name="surname" formControlName="surname">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="other_surnames">Otros Apellidos </label>
        <div class="col-md-4">
          <input class="form-control input-md" type="text" name="other_surnames" formControlName="other_surnames">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="dui">DUI </label>
        <div class="col-md-4">
          <input class="form-control input-md" type="text" name="dui" formControlName="dui">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="nit">NIT </label>
        <div class="col-md-4">
          <input class="form-control input-md" type="text" name="nit" formControlName="nit">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="birthdate">Fecha de nacimiento </label>
        <div class="col-md-4">
          <input class="form-control input-md" type="text" name="birthdate" formControlName="birthdate">
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Guardar</button>
  <button type="reset" class="btn btn-success">Limpiar</button>
  <a [routerLink]="['/properties']" class="btn btn-info">Regresar</a>
</form>
