<table class="table table-hover">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th>Actividad</th>
      <th>Dueño</th>
      <th>Tributos</th>
      <th>
        <a class="btn btn-success btn-xs" [routerLink]="['/establishments/new']"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Agregar</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let establishment of establishments">
      <td>{{establishment.code}}</td>
      <td>{{establishment.name}}</td>
      <td>{{establishment.activity}}</td>
      <td>{{establishment.person.name + ' ' + establishment.person.surname}}</td>
      <td>
         <span class="label label-info label-list" *ngFor="let tribute of establishment.tributes">{{tribute.short_name}}</span>
      </td>
      <td>
        <a class="btn btn-primary btn-xs" [routerLink]="['/establishments/tributes', establishment.id]"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Tributos</a>
      </td>
    </tr>
  </tbody>
</table>