<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Filtrar Establecimientos</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-2">
        <input type="text" class="form-control" placeholder="Código">
      </div>
      <div class="col-xs-3">
        <input type="text" class="form-control" placeholder="Nombre">
      </div>
      <div class="col-xs-2">
        <select class="form-control">
          <option value="" selected hidden>Actividad</option>
        </select>
      </div>
      <div class="col-xs-5">
        <input type="text" class="form-control" placeholder="Dirección">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-xs-2">
        <input type="text" class="form-control" placeholder="DUI">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" placeholder="NIT">
      </div>
      <div class="col-xs-4">
        <input type="text" class="form-control" placeholder="Nombre/Razón Social">
      </div>
      <div class="col-xs-4">
        <button type="submit" class="btn btn-info">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          Buscar
        </button>
        <button type="reset" class="btn btn-warning">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          Limpiar
        </button>
      </div>
    </div>
  </div>
</div>