<h3> {{selectedTribute?.name}} <span class="label label-info label-list"> {{selectedTribute?.short_name}} </span></h3>
<hr />
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">General</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Ley Origen</dt>
      <dd>{{selectedTribute?.origin_law}}</dd>
      <dt>Días de gracia</dt>
      <dd>{{selectedTribute?.grace_days}}</dd>
      <dt>Sujeto</dt>
      <dd *ngIf="selectedTribute?.taxable_subject == 'E'">Establecimientos</dd>
      <dd *ngIf="selectedTribute?.taxable_subject == 'P'">Inmuebles</dd>
      <div *ngIf="selectedTribute?.determinants.length > 0">
        <dt>Determinantes</dt>
        <dd>
          <table class="table table-hover table-striped table-bordered">
            <thead>
              <tr>
                <th>Descripción</th>
                <th>Condición</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let subDeterminant of selectedTribute?.determinants">
                <td>{{subDeterminant.name}}</td>
                <td>{{subDeterminant.condition}}</td>
                <td>{{subDeterminant.value}}</td>
              </tr>
            </tbody>
          </table>
        </dd>
      </div>
    </dl>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Declaración y Pagos</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Periodicidad declaración</dt>
      <dd>{{selectedTribute?.declaration_payment_mode.declaration_periodicity}}</dd>
      <dt>Fecha inicial para declarar</dt>
      <dd>{{selectedTribute?.declaration_payment_mode.declaration_since|date:'d/M'}}</dd>
      <dt>Fecha final para declarar</dt>
      <dd>{{selectedTribute?.declaration_payment_mode.declaration_until|date:'d/M'}}</dd>
      <dt>Periodicidad pago</dt>
      <dd>{{selectedTribute?.declaration_payment_mode.payment_periodicity}}</dd>
      <dt>Fecha inicial para pagar</dt>
      <dd>{{selectedTribute?.declaration_payment_mode.payment_since|date:'d/M'}}</dd>
      <dt>Fecha final para pagar</dt>
      <dd>{{selectedTribute?.declaration_payment_mode.payment_until|date:'d/M'}}</dd>
    </dl>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Base Imponible</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Nombre</dt>
      <dd>{{selectedTribute?.taxable_income.name}}</dd>
      <dt>Descripción</dt>
      <dd>{{selectedTribute?.taxable_income.description}}</dd>
      <dt>Tokens</dt>
      <dd>
        <ul>
          <li *ngFor="let token of selectedTribute?.taxable_income.tokens">
           <b style="font-family:monospace;">{{token.name}}</b>
          </li>
        </ul>
      </dd>
      <dt>Formula</dt>
      <dd style="font-family:monospace;">{{selectedTribute?.taxable_income.formula}}</dd>
    </dl>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Tarifa</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <!--<dt>Vigente hasta</dt>-->
      <dd>{{selectedTribute?.rate.valid_until}}</dd>
      <dd>{{selectedTribute?.rate.description}}</dd>
      <dt>Tokens</dt>
      <dd>
        <ul>
          <li *ngFor="let token of selectedTribute?.rate.tokens">
           <b style="font-family:monospace;">{{token.name}}</b>
          </li>
        </ul>
      </dd>
      <dt>Formula</dt>
      <dd style="font-family:monospace;">{{selectedTribute?.rate.formula}}</dd>
      <div *ngIf="selectedTribute?.rate.determinants.length > 0">
        <dt>Determinantes</dt>
        <dd>
          <table class="table table-hover table-striped table-bordered">
            <thead>
              <tr>
                <th>Descripción</th>
                <th>Condición</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rateDeterminants of selectedTribute?.rate.determinants">
                <td>{{rateDeterminants.name}}</td>
                <td>{{rateDeterminants.condition}}</td>
                <td>{{rateDeterminants.value}}</td>
              </tr>
            </tbody>
          </table>
        </dd>
      </div>
      <div *ngIf="selectedTribute?.rate.ranges.length > 0">
        <dt>Rangos</dt>
        <dd>
          <table class="table table-hover table-striped table-bordered">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>L. Inferior</th>
                <th>L. Superior</th>
                <th>C. Fija</th>
                <th>C. Variable</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rateRange of selectedTribute?.rate.ranges">
                <td>{{rateRange.name}}</td>
                <td>{{rateRange.lower_limit}}</td>
                <td>{{rateRange.upper_limit}}</td>
                <td>{{rateRange.fixed_amount}}</td>
                <td>{{rateRange.variable_amount}}</td>
              </tr>
            </tbody>
          </table>
        </dd>
      </div>
    </dl>
  </div>
</div>
<a [routerLink]="['']" class="btn btn-info">Regresar</a>