<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Crear Tributo</h3> <i>Esto será una modal</i>
  </div>
  <div class="panel-body">
    <form class="panel" (ngSubmit)="addTribute(f)" #f="ngForm">
      <div class="form-group">
        <label for="name">Tributo: </label>
        <input class="form-control" required type="text" name="name" ngModel>
      </div>
      <div class="form-group">
        <label for="law">Ley origen: </label>
        <input class="form-control" required type="text" name="law" ngModel>
      </div>
      <div class="form-group">
        <label for="taxable">Base imponible: </label>
        <input class="form-control" required type="number" name="taxable" ngModel>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
      <button type="reset" class="btn btn-success">Limpiar</button>
    </form>
  </div>
</div>