<h2>Nuevo Tributo</h2>
<hr />
<form class="panel" (ngSubmit)="addTribute(f)" #f="ngForm">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <a data-toggle="collapse" href="#generalPanel">
        <h3 class="panel-title"><span class="glyphicon glyphicon-chevron-down"></span> General</h3>
      </a>
    </div>
    <div id="generalPanel" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="form-group">
          <label for="name">Tributo </label>
          <input class="form-control" type="text" name="name" ngModel required>
        </div>
        <div class="form-group">
          <label for="law">Ley origen </label>
          <input class="form-control" type="text" name="law" ngModel required>
        </div>
        <div class="form-group">
          <label for="graceDays">Días de gracia para generar interés </label>
          <input class="form-control" type="number" name="graceDays" ngModel required>
        </div>
        <div class="form-group">
          <label for="subject">Sujeto al que aplica </label>
          <select name="subject" class="form-control" ngModel required>
            <option value="Establecimientos">Establecimientos</option>
            <option value="Inmuebles">Inmuebles</option>
          </select>
        </div>

        <div class="panel panel-warning">
          <div class="panel-heading">
            <a data-toggle="collapse" href="#subjectDeterminants">
              <h4 class="panel-title" style="color:white;">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Determinantes de sujeto
              </h4>
            </a>
          </div>
          <div id="subjectDeterminants" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="form-group">
                <label for="sub_det_description">Nombre </label>
                <input class="form-control" type="text" name="sub_det_description" #subDetDescription>
              </div>
              <div class="form-group">
                <label for="sub_det_condition">Condicion </label>
                <input class="form-control" type="text" name="sub_det_condition" #subDetCondition>
              </div>
              <div class="form-group">
                <label for="sub_det_value">Valor </label>
                <input class="form-control" type="text" name="sub_det_value" #subDetValue>
              </div>
              <a class="btn btn-warning btn-xs" (click)="addSubjectDeterminant(subDetDescription.value, subDetCondition.value, subDetValue.value)" >
                Agregar determinante
              </a>
              <div *ngIf="subjectDeterminants.length > 0">
                <table class="table table-hover table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Descripción</th>
                      <th>Condición</th>
                      <th>Valor</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let subDeterminant of subjectDeterminants">
                      <td>{{subDeterminant.name}}</td>
                      <td>{{subDeterminant.condition}}</td>
                      <td>{{subDeterminant.value}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <a data-toggle="collapse" href="#declarationPanel">
        <h3 class="panel-title"><span class="glyphicon glyphicon-chevron-down"></span> Declaración y Pagos</h3>
      </a>
    </div>
    <div id="declarationPanel" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="form-group">
          <label for="dec_periodicity">Periodicidad declaración </label>
          <select name="dec_periodicity" class="form-control">
            <option value="Mensual">Mensual</option>
            <option value="Trimestral">Trimestral</option>
            <option value="Anual">Anual</option>
          </select>
        </div>
        <div class="form-group">
          <label for="dec_since">Primer día para declarar </label>
          <input class="form-control" type="number" name="dec_since" ngModel required>
        </div>
        <div class="form-group">
          <label for="dec_until">Último día para declarar </label>
          <input class="form-control" type="number" name="dec_until" ngModel required>
        </div>
        <div class="form-group">
          <label for="pay_periodicity">Periodicidad pago </label>
          <select name="pay_periodicity" class="form-control">
            <option value="Mensual">Mensual</option>
            <option value="Trimestral">Trimestral</option>
            <option value="Anual">Anual</option>
          </select>
        </div>
        <div class="form-group">
          <label for="pay_since">Primer día para pagar </label>
          <input class="form-control" type="number" name="pay_since" ngModel required>
        </div>
        <div class="form-group">
          <label for="pay_until">Último día para pagar </label>
          <input class="form-control" type="number" name="pay_until" ngModel required>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <a data-toggle="collapse" href="#taxablePanel">
        <h3 class="panel-title"><span class="glyphicon glyphicon-chevron-down"></span> Base Imponible</h3>
      </a>
    </div>
    <div id="taxablePanel" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="form-group">
          <label for="ti_name">Nombre </label>
          <input class="form-control" type="text" name="ti_name" ngModel required>
        </div>
        <div class="form-group">
          <label for="ti_description">Descripción </label>
          <input class="form-control" type="text" name="ti_description" ngModel required>
        </div>

        <div class="form-group">
          <label for="token">Token </label>
          <input class="form-control" type="text" name="token" #token ngModel>
        </div>
        <a class="btn btn-success btn-xs" (click)="addToken(token.value)" >Agregar token</a>
        <div>
          <ul>
            <li *ngFor="let token of tokens">
              <h4><span class="label label-success">{{token.name}}</span></h4>
            </li>
          </ul>
        </div>

        <div class="form-group">
          <label for="ti_formula">Formula </label>
          <input class="form-control" type="text" name="ti_formula" ngModel required>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <a data-toggle="collapse" href="#ratePanel">
        <h3 class="panel-title"><span class="glyphicon glyphicon-chevron-down"></span> Tarifa</h3>
      </a>
    </div>
    <div id="ratePanel" class="panel-collapse collapse">
      <div class="panel-body">
        <!--<div class="form-group">
          <label for="rate_type">Tipo </label>
          <select name="rate_type" class="form-control">
            <option>Valor determinado</option>
            <option>Progresiva por rango</option>
          </select>
        </div>-->
        <!--<div class="form-group">
          <label for="c_valid_until">Vigente hasta </label>
          <input class="form-control" type="text" name="c_valid_until" ngModel>
        </div>-->

        <div class="form-group">
          <label for="rateToken">Token </label>
          <input class="form-control" type="text" name="rateToken" #rateToken>
        </div>
        <a class="btn btn-success btn-xs" (click)="addRateToken(rateToken.value)" >Agregar token</a>
        <div>
          <ul>
            <li *ngFor="let rateToken of rateTokens">
              <h4><span class="label label-success">{{rateToken.name}}</span></h4>
            </li>
          </ul>
        </div>

        <div class="form-group">
          <label for="rate_formula">Formula </label>
          <input class="form-control" type="text" name="rate_formula" ngModel required>
        </div>

        <div class="panel panel-warning">
          <div class="panel-heading">
            <a data-toggle="collapse" href="#rateDetPanel">
              <h4 class="panel-title">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Determinantes de tarifa
              </h4>
            </a>
          </div>
          <div id="rateDetPanel" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="form-group">
                <label for="rate_det_description">Nombre </label>
                <input class="form-control" type="text" name="rate_det_description" #rateDetDescription>
              </div>
              <div class="form-group">
                <label for="rate_det_condition">Condicion </label>
                <input class="form-control" type="text" name="rate_det_condition" #rateDetCondition>
              </div>
              <div class="form-group">
                <label for="rate_det_value">Valor </label>
                <input class="form-control" type="text" name="rate_det_value" #rateDetValue>
              </div>
              <a class="btn btn-warning btn-xs" (click)="addRateDeterminant(rateDetDescription.value, rateDetCondition.value, rateDetValue.value)" >
                Agregar determinante
              </a>
              <div *ngIf="rateDeterminants.length > 0">
                <table class="table table-hover table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Descripción</th>
                      <th>Condición</th>
                      <th>Valor</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let rateDeterminant of rateDeterminants">
                      <td>{{rateDeterminant.name}}</td>
                      <td>{{rateDeterminant.condition}}</td>
                      <td>{{rateDeterminant.value}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-info">
          <div class="panel-heading">
            <a data-toggle="collapse" href="#rateRangePanel">
              <h4 class="panel-title">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Rangos
              </h4>
            </a>
          </div>
          <div id="rateRangePanel" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="form-group">
                <label for="rate_range_description">Nombre </label>
                <input class="form-control" type="text" name="rate_range_description" #rateRangeDescription>
              </div>
              <div class="form-group">
                <label for="rate_range_upper">Limite Superior </label>
                <input class="form-control" type="number" name="rate_range_upper" #rateRangeUpper>
              </div>
              <div class="form-group">
                <label for="rate_range_lower">Limite Inferior </label>
                <input class="form-control" type="number" name="rate_range_lower" #rateRangeLower>
              </div>
              <div class="form-group">
                <label for="rate_range_fixed">Cuota fija </label>
                <input class="form-control" type="number" name="rate_range_fixed" #rateRangeFixed>
              </div>
              <div class="form-group">
                <label for="rate_range_var">Cuota variable </label>
                <input class="form-control" type="number" name="rate_range_var" #rateRangeVariable>
              </div>
              <a class="btn btn-info btn-xs"
                (click)="addRateRange(
                  rateRangeDescription.value, rateRangeUpper.value, rateRangeLower.value,
                  rateRangeFixed.value, rateRangeVariable.value
                )" >
                Agregar rango
              </a>
              <div *ngIf="rateRanges.length > 0">
                <table class="table table-hover table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>L. Superior</th>
                      <th>L. Inferior</th>
                      <th>C. Fija</th>
                      <th>C. Variable</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let rateRange of rateRanges">
                      <td>{{rateRange.description}}</td>
                      <td>{{rateRange.upper}}</td>
                      <td>{{rateRange.lower}}</td>
                      <td>{{rateRange.fixed}}</td>
                      <td>{{rateRange.variable}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Guardar</button>
  <button type="reset" class="btn btn-success">Limpiar</button>
  <a [routerLink]="['']" class="btn btn-info">Regresar</a>
</form>
