<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Tributo</th>
      <th>Base&nbsp;Imponible</th>
      <th>Descripción</th>
      <th>Formula Calculo</th>
      <th>Ley origen</th>
      <th>
        <a class="btn btn-default btn-simple btn-xs info-sole" [routerLink]="['/tributes/new']"> <i class="material-icons">add_circle</i></a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tribute of tributes">
      <td>{{tribute.name}}</td>
      <td>{{tribute.taxable_income.name}}</td>
      <td>{{tribute.taxable_income.description}}</td>
		<td>{{tribute.rate.formula}}</td>
      <td>{{tribute.origin_law}}</td>
      <td>
       <a type="button" rel="tooltip" title="Detalle" class="btn btn-info btn-simple btn-xs info-sole" [routerLink]="['/tributes/detail', tribute.id]"> <i class="material-icons">info_outline</i> </a>
        <!--<a class="btn btn-primary btn-xs" [routerLink]="['/tributes/detail', tribute.id]"><i class="material-icons">info_outline</i> Detalle</a>-->
      </td>
    </tr>
  </tbody>
</table>
<!--<nav aria-label="Page navigation" class="pull-right">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>-->