/* You can add global styles to this file, and also import other style files */

.dl-horizontal dt {
    width: 300px;
}

.dl-horizontal dd {
    margin-left: 320px;
}

h3.panel-title, h4.panel-title {
    color:white;
}

.label.label-list {
    margin: 1px;
}